

.yellow{
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50px;
    
}
.green{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50px;
}
.red{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50px;
}
.semaforo {
    width:110px;
    height:310px;
    background: black

}
.glowing-border {
    filter:brightness(1);
    font-size: 2rem;
    color: #9a4545;
    border: 5px solid;
    
    border-color: #ff00ff;
   
}